In [586]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", None)
plt.rcParams["figure.figsize"] = (24, 12)

In [587]:
# get currently available data
df = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv", parse_dates=["date"])
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,0.126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [588]:
# select attributes that we find interesting
attributes = [
    "iso_code", "continent", "location", "date", "total_cases", "new_cases", "total_deaths", "new_deaths", "reproduction_rate", "icu_patients", "hosp_patients",
    "weekly_icu_admissions", "weekly_hosp_admissions", "new_tests", "total_tests", "positive_rate", "total_vaccinations", "people_vaccinated", "people_fully_vaccinated",
    "new_vaccinations", "stringency_index", "population", "population_density", "median_age", "aged_65_older", "aged_70_older", "gdp_per_capita", "extreme_poverty",
    "cardiovasc_death_rate", "diabetes_prevalence", "female_smokers", "male_smokers", "handwashing_facilities", "hospital_beds_per_thousand", "life_expectancy",
    "human_development_index", "excess_mortality"
]

df = df[attributes]

In [589]:
# now check which columns contain NaN values
df.isna().any().to_frame().T

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,hosp_patients,weekly_icu_admissions,weekly_hosp_admissions,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,False,True,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [590]:
# it's weird that continent contains NaNs and location doesn't, so let's take a look at that
print("First 5 rows that have NaN for the column continent")
df[df["continent"].isna()].head()

First 5 rows that have NaN for the column continent

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,hosp_patients,weekly_icu_admissions,weekly_hosp_admissions,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
628,OWID_AFR,NaN,Africa,2020-02-13,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
629,OWID_AFR,NaN,Africa,2020-02-14,1.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,OWID_AFR,NaN,Africa,2020-02-15,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,OWID_AFR,NaN,Africa,2020-02-16,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,OWID_AFR,NaN,Africa,2020-02-17,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [591]:
# let's store these rows which combine data of a continent in a seperate dataframe, so it doesn't give us any weird mistakes later/confuse us
# before we do this we should be sure that really only these combined rows have NaNs
print("Unique locations where continent is NaN", df[df["continent"].isna()]["location"].unique())
# looking good, so lets create a new dataframe
continent_df = df[df["continent"].isna()]
# drop these rows from the original dataframe
df = df[~df["continent"].isna()]

Unique locations where continent is NaN ['Africa' 'Asia' 'Europe' 'European Union' 'High income' 'International'
 'Low income' 'Lower middle income' 'North America' 'Oceania'
 'South America' 'Upper middle income' 'World']

In [592]:
# we would expect that new_cases should be almost complete (because it's the most important attribute), so let's take a look at that
print("Percentage of non-missing values for each country in the column new_cases:")
(df[["location", "new_cases"]].groupby("location").count()["new_cases"] / df[["location", "new_cases"]].groupby("location").size()).to_frame().T

Percentage of non-missing values for each country in the column new_cases:

location,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bermuda,Bhutan,Bolivia,Bonaire Sint Eustatius and Saba,Bosnia and Herzegovina,Botswana,Brazil,British Virgin Islands,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Cayman Islands,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Cook Islands,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Curacao,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Faeroe Islands,Falkland Islands,Fiji,Finland,France,French Polynesia,Gabon,Gambia,Georgia,Germany,Ghana,Gibraltar,Greece,Greenland,Grenada,Guatemala,Guernsey,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Isle of Man,Israel,Italy,Jamaica,Japan,Jersey,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Macao,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Montserrat,Morocco,Mozambique,Myanmar,Namibia,Nauru,Nepal,Netherlands,New Caledonia,New Zealand,Nicaragua,Niger,Nigeria,Niue,North Macedonia,Northern Cyprus,Norway,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Pitcairn,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Helena,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Sint Maarten (Dutch part),Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Tokelau,Tonga,Trinidad and Tobago,Tunisia,Turkey,Turkmenistan,Turks and Caicos Islands,Tuvalu,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,1.0,0.979266,1.0,1.0,1.0,0.0,1.0,0.909091,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.991935,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.998403,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.998487,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.996748,0.988871,1.0,0.961538,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.96302,1.0,1.0,0.0,0.0,0.924962,1.0,0.998483,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.988942,0.0,1.0,0.959055,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.998387,0.996805,1.0,1.0,1.0,1.0,1.0,0.0,0.998418,1.0,1.0,0.998487,0.0,1.0,1.0,0.988655,1.0,1.0,1.0,1.0,1.0,0.985714,1.0,1.0,1.0,0.96769,1.0,1.0,0.992038,0.0,1.0,0.993266,0.998483,1.0,1.0,0.996764,1.0,1.0,1.0,0.914956,1.0,1.0,1.0,1.0,1.0,0.0,0.962791,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.998371,1.0,0.998377,0.904692,1.0,0.0,1.0,0.981043,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.995192,0.985623,1.0,1.0,1.0,0.0,1.0,0.950769,1.0,1.0,0.95814,0.996979,1.0,1.0,1.0,0.996727,1.0,1.0,1.0,1.0,0.989505,1.0,1.0,0.972018,1.0,0.996769,0.0,0.072464,1.0,1.0,0.998366,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.998487,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0

In [593]:
# it seems that there are countries that don't have any values for new_cases or simply not enough values, these are obviously useless to us
# lets drop all countries that have missing values for more than half of their entries for the column new_cases 
# (if they have more than half of the values, then we can fix the missing values with interpolation later)
temp = ((df[["location", "new_cases"]].groupby("location").count()["new_cases"] / df[["location", "new_cases"]].groupby("location").size()) >= 0.5)
temp = temp[temp == True].index.tolist()
# drop all rows that don't fulfill the above defined criteria
df = df[df["location"].isin(temp)]
# reset index, so that it is correct again (we dropped rows)
df.reset_index(inplace = True, drop = True)

In [594]:
# number of trailing NaNs for column new_cases
temp = df.copy()
temp.reset_index(inplace = True)
last_index = temp.groupby("location").apply(lambda x: x.iloc[-1]["index"])
last_valid_index = temp.groupby("location").apply(lambda x: x["new_cases"].last_valid_index())
print("Number of trailing NaNs for each country for the column new_cases")
(last_index - last_valid_index).to_frame().T

Number of trailing NaNs for each country for the column new_cases

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [595]:
# also while looking through the records, we found that some countries have leading NaNs for new_cases
# let's remove these (while we're at it, let's also remove trailing NaNs)
df = df.sort_values(by = ["location", "date"]).reset_index(drop = True)
# get the first and last valid index
first_valid_index = df.groupby("location").apply(lambda x: x["new_cases"].first_valid_index())
last_valid_index = df.groupby("location").apply(lambda x: x["new_cases"].last_valid_index())
# create list of indices that we want to keep
valid_indices = [np.arange(first, last+1) for first, last in zip(first_valid_index, last_valid_index)]
# flatten it to be a 1D array instead of 2D
valid_indices = [elem for sublist in valid_indices for elem in sublist]
df = df[df.index.isin(valid_indices)]
# we removed rows, so we need to reset the index
df.reset_index(drop = True, inplace = True)

In [596]:
# let's look at what percentage of values is still NaN for each column
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,hosp_patients,weekly_icu_admissions,weekly_hosp_admissions,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,0.0,0.0,0.0,0.0,0.0,0.000026,0.09307,0.093096,0.109234,0.863879,0.84044,0.988746,0.982052,0.527033,0.524454,0.461226,0.761365,0.773421,0.796851,0.801966,0.096093,0.0,0.021048,0.045895,0.056662,0.051163,0.042343,0.352377,0.037843,0.021235,0.248805,0.259298,0.515002,0.123501,0.0052,0.031926,0.960868

In [597]:
# for some reason total_cases is complete, but new_cases isn't so let's fix that real quick
miss_indices = df[df["new_cases"].isna()].index
df.loc[miss_indices, "new_cases"] = list(df.iloc[miss_indices+1]["total_cases"] - np.array(df.iloc[miss_indices]["total_cases"]))

In [598]:
# also it seems that there are some columns where we simply have too many missing values for them to be useful, let's remove these
cols_to_drop = ["icu_patients", "hosp_patients", "weekly_icu_admissions", "weekly_hosp_admissions", "excess_mortality"]
df.drop(columns = cols_to_drop, inplace = True)

In [599]:
# let's try and fill the missing values for the remaining columns
# vaccinations numbers are very interesting to us so let's take a look at it
# for each country get the percentage of values that are not NaN for total_vaccinations
print("Percentage of non-NaN values for each country for the column total_vaccinations")
(df.groupby("location").count()["total_vaccinations"] / df.groupby("location").size()).to_frame().T

Percentage of non-NaN values for each country for the column total_vaccinations

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0.044586,0.332248,0.019139,0.05314,0.066335,0.118033,0.474194,0.040193,0.395738,0.511962,0.350482,0.059308,0.434713,0.304065,0.407591,0.043269,0.492284,0.173333,0.026359,0.15235,0.264706,0.030744,0.080944,0.384984,0.218241,0.486179,0.02447,0.013514,0.410061,0.066451,0.508371,0.06136,0.029605,0.046358,0.513514,0.374242,0.34846,0.037367,0.039474,0.077796,0.323529,0.370016,0.261866,0.203915,0.516077,0.050654,0.4832,0.02314,0.084859,0.355305,0.446945,0.075235,0.225166,0.095395,0.0,0.512,0.065681,0.296721,0.051325,0.397554,0.485584,0.067323,0.044554,0.231629,0.489329,0.042693,0.480831,0.076539,0.392447,0.177049,0.026756,0.119476,0.069652,0.080065,0.4,0.224556,0.174679,0.445636,0.41868,0.07267,0.047771,0.508828,0.521395,0.492331,0.117647,0.324242,0.241935,0.322951,0.277049,0.044693,0.19376,0.020701,0.191736,0.116861,0.537842,0.397781,0.020036,0.029703,0.065109,0.526656,0.515249,0.439807,0.026534,0.279661,0.396657,0.411382,0.046823,0.467532,0.0,0.067323,0.046281,0.467949,0.0,0.255285,0.040128,0.314845,0.389439,0.31723,0.043261,0.030201,0.223317,0.220365,0.3648,0.426282,0.028146,0.026534,0.126603,0.223642,0.551118,0.121019,0.172249,0.0,0.242718,0.39478,0.036484,0.331707,0.448947,0.245023,0.426494,0.42029,0.365971,0.498403,0.360429,0.093596,0.090301,0.197044,0.091954,0.069444,0.158909,0.051195,0.426731,0.15942,0.285251,0.116776,0.04223,0.189394,0.505673,0.519417,0.042821,0.067545,0.296117,0.393939,0.057922,0.339478,0.368902,0.036125,0.300493,0.076805,0.519936,0.023295,0.295455,0.069519,0.009885,0.325758,0.046589,0.030794,0.35468,0.31664,0.493464,0.177741,0.422581,0.434251,0.469325,0.507576,0.42459,0.123355,0.05163,0.0,0.031199,0.331818,0.022337,0.193388,0.406302

In [600]:
# maybe the high number of missing values comes from leading NaNs? let's check that
temp = df.copy()
temp.reset_index(inplace = True)
first_index = temp.groupby("location").apply(lambda x: x.iloc[0]["index"])
first_valid_index = temp.groupby("location").apply(lambda x: x["total_vaccinations"].first_valid_index())
print("Number of leading NaNs for each country for the column total_vaccinations")
(first_valid_index - first_index).to_frame().T

Number of leading NaNs for each country for the column total_vaccinations

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,364.0,307.0,339.0,329.0,346.0,340.0,301.0,395.0,392.0,306.0,322.0,362.0,303.0,324.0,335.0,304.0,328.0,342.0,422.0,385.0,323.0,343.0,360.0,325.0,389.0,296.0,449.0,567.0,379.0,401.0,323.0,363.0,423.0,448.0,305.0,327.0,348.0,356.0,395.0,293.0,355.0,309.0,445.0,302.0,301.0,403.0,278.0,395.0,326.0,351.0,325.0,345.0,335.0,366.0,NaN,304.0,381.0,391.0,363.0,337.0,338.0,373.0,357.0,382.0,335.0,352.0,306.0,326.0,348.0,383.0,413.0,336.0,483.0,354.0,396.0,299.0,306.0,351.0,316.0,355.0,371.0,303.0,302.0,331.0,363.0,391.0,315.0,324.0,356.0,14.0,379.0,308.0,375.0,358.0,277.0,358.0,300.0,421.0,389.0,292.0,302.0,303.0,418.0,349.0,396.0,331.0,370.0,316.0,NaN,377.0,313.0,300.0,NaN,362.0,305.0,349.0,340.0,332.0,350.0,305.0,369.0,367.0,314.0,356.0,347.0,373.0,370.0,356.0,280.0,308.0,343.0,NaN,390.0,316.0,375.0,351.0,339.0,395.0,299.0,300.0,297.0,305.0,319.0,338.0,334.0,339.0,368.0,167.0,364.0,343.0,310.0,357.0,308.0,300.0,348.0,354.0,304.0,297.0,162.0,397.0,348.0,400.0,365.0,338.0,367.0,361.0,345.0,330.0,300.0,344.0,423.0,371.0,510.0,401.0,388.0,368.0,338.0,373.0,308.0,353.0,358.0,342.0,345.0,325.0,351.0,381.0,203.0,NaN,340.0,409.0,394.0,392.0,335.0

In [601]:
# so it seems that there are a lot of leading NaNs, however for some countries we don't have any vaccination numbers, lets remove these countries
temp = (first_valid_index - first_index)
print("Number of countries for which we don't have any vaccination numbers: {}".format(len(temp[temp.isna()])))
# also after removing these countries, we need to reset the index (because we dropped some rows)
df = df[~df["location"].isin(temp[temp.isna()].index)].reset_index(drop = True)

Number of countries for which we don't have any vaccination numbers: 5

In [602]:
# let's look at the first value of total_vaccinations for each country that isn't NaN
first_valid_index = df.groupby("location").apply(lambda x: x["total_vaccinations"].first_valid_index())
temp = df.iloc[list(first_valid_index)][["total_vaccinations", "location"]].set_index("location")
# get the countries that have zero as first non-NaN value
countries_with_zero = temp[temp["total_vaccinations"] == 0].index
print("First non-NaN value for each country for the column total_vaccinations")
temp.T

First non-NaN value for each country for the column total_vaccinations

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
total_vaccinations,0.0,0.0,0.0,576.0,0.0,0.0,700.0,565.0,20.0,754.0,0.0,0.0,38965.0,0.0,4490.0,0.0,329.0,0.0,10683.0,0.0,0.0,0.0,0.0,0.0,0.0,1719.0,200.0,81.0,0.0,0.0,5.0,0.0,667.0,5324.0,420.0,1500000.0,18.0,13440.0,14297.0,55.0,0.0,7864.0,2037745.0,3901.0,1281.0,0.0,1.0,10246.0,0.0,0.0,17.0,0.0,0.0,6565.0,191.0,0.0,430000.0,0.0,1767.0,441.0,0.0,0.0,0.0,24355.0,0.0,447.0,0.0,0.0,62645.0,5889.0,0.0,38.0,2684.0,47.0,1094.0,4875.0,0.0,0.0,0.0,0.0,97.0,65.0,7337.0,0.0,125.0,0.0,0.0,0.0,0.0,0.0,2500.0,0.0,40732.0,1.0,0.0,0.0,36404.0,750.0,0.0,2417.0,452.0,609.0,5417.0,63.0,880.0,0.0,11705.0,0.0,0.0,2924.0,3849.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3836.0,1.0,0.0,0.0,0.0,0.0,0.0,1717.0,0.0,81942.0,641.0,0.0,200.0,5.0,0.0,2000.0,4963.0,0.0,965.0,28500.0,0.0,0.0,0.0,8952.0,7411.0,35.0,0.0,137862.0,0.0,7000.0,0.0,0.0,3400.0,480.0,6196.0,0.0,117567.0,0.0,31024.0,0.0,82834.0,0.0,0.0,0.0,2471.0,1.0,0.0,0.0,69229.0,105745.0,0.0,2629.0,0.0,0.0,0.0,0.0,0.0,159.0,826301.0,2677971.0,20802.0,372.0,0.0,0.0,0.0,0.0,18555.0,0.0,39.0

In [603]:
# so unfortunately these aren't always zero, however just interpolating these leading NaNs would temper too much with the given data
# let's just set the ones to zero where the first non-NaN value is zero
df.reset_index(inplace=True)
temp = df[df["location"].isin(countries_with_zero)].groupby("location")
first_index = temp.apply(lambda x: x.iloc[0]["index"])
first_valid_index = temp.apply(lambda x: x["total_vaccinations"].first_valid_index())
df.drop(columns = ["index"], inplace = True)
# create list of indices that we want to change
zero_indices = [np.arange(first, last-1) for first, last in zip(first_index, first_valid_index)]
# flatten it to be a 1D array instead of 2D
zero_indices = [elem for sublist in zero_indices for elem in sublist]
# also set the people_vaccinated, people_fully_vaccinated, new_vaccinations to 0 for these rows
df.loc[zero_indices, ["total_vaccinations", "people_vaccinated", "people_fully_vaccinated", "new_vaccinations"]] = 0

In [604]:
# let's look at the percentage of missing values for columns again
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.080313,0.080339,0.098378,0.518904,0.516281,0.451966,0.477779,0.490042,0.513875,0.519077,0.085767,0.0,0.01605,0.037295,0.048247,0.042654,0.037712,0.343816,0.032414,0.016242,0.241842,0.252517,0.509975,0.117695,0.005289,0.027116

In [605]:
# it's looking a lot better now, but the ~50% missing values for new_tests/total_tests are really annoying because these are such interesting columns
# lets's check for leading NaNs
temp = df.copy()
temp.reset_index(inplace=True)
# get the first index for each country
first_index = temp.groupby("location").apply(lambda x: x.iloc[0]["index"])
# get the first valid index for each country for the column total_tests
first_valid_index = temp.groupby("location").apply(lambda x: x["total_tests"].first_valid_index())
print("Number of leading NaNs for each country for the column total_tests")
(first_valid_index - first_index).to_frame().T

Number of leading NaNs for each country for the column total_tests

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,NaN,0.0,NaN,245.0,NaN,487.0,0.0,8.0,56.0,36.0,423.0,554.0,10.0,0.0,NaN,4.0,26.0,422.0,429.0,17.0,3.0,27.0,4.0,60.0,NaN,34.0,NaN,NaN,478.0,NaN,5.0,NaN,NaN,NaN,31.0,153.0,88.0,NaN,NaN,0.0,33.0,7.0,10.0,18.0,NaN,NaN,0.0,NaN,NaN,17.0,17.0,NaN,17.0,484.0,0.0,NaN,0.0,0.0,29.0,NaN,486.0,495.0,401.0,48.0,3.0,6.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8.0,2.0,0.0,43.0,14.0,46.0,43.0,18.0,0.0,24.0,13.0,13.0,59.0,0.0,4.0,NaN,438.0,79.0,NaN,421.0,0.0,441.0,NaN,NaN,NaN,80.0,20.0,0.0,39.0,0.0,0.0,8.0,NaN,135.0,18.0,NaN,0.0,435.0,NaN,246.0,NaN,0.0,6.0,8.0,18.0,3.0,17.0,2.0,NaN,NaN,40.0,33.0,35.0,NaN,15.0,NaN,0.0,338.0,2.0,0.0,64.0,55.0,0.0,12.0,15.0,33.0,24.0,474.0,NaN,565.0,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,75.0,0.0,0.0,NaN,NaN,1.0,1.0,144.0,72.0,22.0,NaN,NaN,NaN,88.0,NaN,0.0,NaN,NaN,0.0,478.0,1.0,52.0,393.0,16.0,11.0,37.0,0.0,60.0,38.0,15.0,NaN,NaN,NaN,21.0,NaN,1.0,47.0

In [606]:
# let's check what the first value looks like that isn't NaN
df.reset_index(drop = True, inplace = True)
first_valid_index = df.groupby("location").apply(lambda x: x["total_tests"].first_valid_index())
first_valid_index = first_valid_index.dropna()
temp = df.iloc[list(first_valid_index)][["total_tests", "location"]].set_index("location")
print("First non-NaN value for each country for the column total_tests")
temp.T

First non-NaN value for each country for the column total_tests

location,Albania,Andorra,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Bulgaria,Cambodia,Canada,Chile,China,Colombia,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Denmark,Dominican Republic,Ecuador,El Salvador,Equatorial Guinea,Estonia,Ethiopia,Fiji,Finland,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Guatemala,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kosovo,Kuwait,Laos,Latvia,Lebanon,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Malta,Mauritania,Mexico,Moldova,Mongolia,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nigeria,North Macedonia,Norway,Pakistan,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Vincent and the Grenadines,Saudi Arabia,Senegal,Serbia,Singapore,Slovakia,Slovenia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Switzerland,Taiwan,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
total_tests,77.0,85772.0,16700.0,654.0,211.0,143056.0,16834.0,3206917.0,142910.0,5334.0,137.0,5000.0,82.0,123837.0,640586.0,489.0,26.0,3458.0,820.0,179698.0,18502.0,1084676.0,0.0,3290.0,90000000.0,343518.0,2.0,3658.0,247.0,518.0,5917.0,158.0,88.0,480.0,405.0,163221.0,23.0,1.0,79.0,9.0,873543.0,86336.0,3443000.0,129291.0,143.0,570.0,64.0,3610.0,39.0,36.0,6500.0,1230.0,189790.0,26331.0,6457.0,57.0,4324.0,148.0,4.0,78885.0,126.0,111.0,599859.0,227000.0,225787.0,163.0,4069394.0,15.0,114.0,17.0,3065.0,88.0,7.0,221.0,113820.0,63.0,10404.0,1057234.0,95082.0,29.0,205.0,1183.0,306.0,3.0,17080.0,225.0,5000.0,3126.0,3934.0,471.0,138.0,49011.0,9.0,287.0,20276.0,281787.0,70.0,5309.0,1921.0,46414.0,6507.0,22930.0,77176.0,160.0,3.0,67.0,72680.0,378.0,467.0,200.0,25.0,19433.0,930230.0,1.0,2512.0,134.0,218.0,143086.0,5.0,1733.0,1109826.0,7533.0,1510.0,20608.0,75.0,176912.0,348.0,2926.0,856.0,33.0,7808.0

In [607]:
# unfortunately it's not zero for basically all of them, so we can't really do much here
# maybe looking at the percentage of missing values will help us somehow
print("Percentage of non-NaN values for each country for the column total_tests")
(df.groupby("location").count()["total_tests"] / df.groupby("location").size()).to_frame().T

Percentage of non-NaN values for each country for the column total_tests

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0.0,0.745928,0.0,0.077295,0.0,0.001639,0.985484,0.652733,0.649924,0.934609,0.254019,0.026359,0.842357,0.993496,0.0,0.338141,0.955247,0.058333,0.001647,0.774716,0.94281,0.726537,0.303541,0.555911,0.0,0.723577,0.0,0.0,0.07622,0.0,0.952816,0.0,0.0,0.0,0.949126,0.00303,0.854133,0.0,0.0,0.990276,0.903595,0.866029,0.769231,0.969005,0.0,0.0,0.9968,0.0,0.0,0.675241,0.932476,0.0,0.622517,0.065789,0.9984,0.0,0.916393,0.735099,0.952599,0.0,0.059113,0.085809,0.126198,0.132622,0.786535,0.900958,0.0,0.996716,0.0,0.0,0.0,0.0,0.0,0.037879,0.922456,0.998397,0.908116,0.73913,0.57346,0.791401,0.971108,1.0,0.960123,0.668301,0.974242,0.440323,0.732787,0.362295,0.0,0.155993,0.866242,0.0,0.115192,1.0,0.041204,0.0,0.0,0.0,0.867528,0.966292,0.993579,0.437811,0.433898,0.99696,0.952846,0.0,0.780844,0.205255,0.0,0.996795,0.086179,0.0,0.45677,0.0,0.969404,0.915141,0.813758,0.878489,0.940729,0.1392,0.852564,0.0,0.0,0.410256,0.691693,0.939297,0.0,0.899522,0.0,0.978793,0.011609,0.99187,0.969206,0.895865,0.899838,0.996779,0.94382,0.610224,0.776074,0.776683,0.118729,0.0,0.013136,0.0,0.0,0.0,0.99839,0.995169,0.998379,0.0,0.0,0.124242,0.996759,0.998382,0.0,0.0,0.972492,0.871212,0.240204,0.12596,0.955793,0.0,0.0,0.0,0.858054,0.0,0.998485,0.0,0.0,0.990909,0.039933,0.987034,0.827586,0.214863,0.972222,0.759136,0.775806,0.952599,0.904908,0.936364,0.745902,0.0,0.0,0.0,0.295455,0.0,0.953719,0.913765

In [608]:
# not really sure what to do with these
# we'll do some interpolation later for these (between first and last valid value for each country) and see to what extent that fixes it
# let's look at other columns that have a high percentage of missing values
print("Percentage of non-NaN values for each country for the column positive_rate")
(df.groupby("location").count()["positive_rate"] / df.groupby("location").size()).to_frame().T

Percentage of non-NaN values for each country for the column positive_rate

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0.0,0.7443,0.0,0.499195,0.0,0.0,0.985484,0.974277,0.902588,0.452951,0.307074,0.07084,0.971338,0.990244,0.0,0.980769,0.945988,0.278333,0.0,0.787682,0.980392,0.943366,0.957841,0.0,0.0,0.931707,0.0,0.0,0.073171,0.0,0.978691,0.266998,0.0,0.0,0.937997,0.0,0.842788,0.0,0.0,0.980551,0.931373,0.976077,0.757774,0.957586,0.692926,0.619281,0.9888,0.0,0.0,0.934084,0.675241,0.0,0.622517,0.190789,0.9904,0.0,0.916393,0.809603,0.941896,0.816388,0.188834,0.165017,0.327476,0.132622,0.962233,0.977636,0.0,0.988506,0.0,0.0,0.0,0.0,0.0,0.036364,0.983845,0.0,0.921899,0.890499,0.914692,0.915605,0.958266,0.988906,0.95092,0.964052,0.968182,0.524194,0.731148,0.603279,0.0,0.264368,0.859873,0.0,0.190317,0.990338,0.0,0.0,0.0,0.277129,0.867528,0.956661,0.977528,0.80597,0.672881,0.987842,0.972358,0.0,0.767857,0.0,0.0,0.996795,0.279675,0.0,0.499184,0.0,0.988728,0.968386,0.823826,0.954023,0.983283,0.1392,0.983974,0.0,0.0,0.916667,0.85623,0.929712,0.08121,0.963317,0.61165,0.986949,0.082919,0.986992,0.969206,0.885145,0.898223,0.987118,0.0,0.963259,0.937117,0.947455,0.19398,0.0,0.055829,0.0,0.0,0.0,0.987118,0.990338,0.990276,0.0,0.0,0.869697,0.987034,0.998382,0.0,0.0,0.988673,0.971212,0.453152,0.855607,0.95122,0.0,0.0,0.732719,0.858054,0.0,0.990909,0.0,0.0,0.983333,0.154742,0.988655,0.842365,0.352181,0.960784,0.827243,0.927419,0.987768,0.894172,0.925758,0.927869,0.0,0.0,0.0,0.537879,0.0,0.985124,0.907131

In [609]:
# this looks similar to total_tests (either countries have a high number of non-NaN values (> 80%) or a low number (< 20%))
# also not sure what to do with these (we'll also interpolate it later)
# let's take a look at another column with a high percentage of NaN-values
print("Percentage of non-NaN values for each country for the column extreme_poverty")
(df.groupby("location").count()["extreme_poverty"] / df.groupby("location").size()).to_frame().T

Percentage of non-NaN values for each country for the column extreme_poverty

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0

In [610]:
# ok this is even more extreme now it's either 100% or 0% now, we can't really do anything here
# let's take a look at another column with a high percentage of NaN-values
print("Percentage of non-NaN values for each country for the column handwashing_facilities")
(df.groupby("location").count()["handwashing_facilities"] / df.groupby("location").size()).to_frame().T

Percentage of non-NaN values for each country for the column handwashing_facilities

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0

In [611]:
# we can't really do anything here as well..
# so let's do some interpolation (we'll only interpolate between the first valid value and the last, because it would probably temper too much with the data)
# first we'll look at the percentage of missing values for each column again
print("Percentage of missing values for each column")
cols = df.columns
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.080313,0.080339,0.098378,0.518904,0.516281,0.451966,0.477779,0.490042,0.513875,0.519077,0.085767,0.0,0.01605,0.037295,0.048247,0.042654,0.037712,0.343816,0.032414,0.016242,0.241842,0.252517,0.509975,0.117695,0.005289,0.027116

In [612]:
# since we're only gonna interpolate between the first and last valid value for each country, we can basically put each column in here and see to what extent it fixes something
# we'll only interpolate the total_columns and add the missing values later for the new_columns
cols_to_interpolate = [
    "total_deaths", "reproduction_rate", "total_tests", "positive_rate", "total_vaccinations","people_vaccinated", "people_fully_vaccinated",
    "stringency_index", "population_density", "median_age", "aged_65_older", "aged_70_older","gdp_per_capita", "extreme_poverty",
    "cardiovasc_death_rate", "diabetes_prevalence", "female_smokers", "male_smokers", "handwashing_facilities", "hospital_beds_per_thousand",
    "life_expectancy", "human_development_index"
]
df = df.groupby("location").apply(lambda x: x[df.columns.difference(cols_to_interpolate)].join(x[cols_to_interpolate].interpolate(method = "linear", axis = 0, limit_area = "inside")))[cols]
# let's change new_deaths, new_tests and new_vaccinations accordingly now
df[["new_deaths", "new_tests", "new_vaccinations"]] = df.groupby("location").apply(lambda x: x[["total_deaths", "total_tests", "total_vaccinations"]].diff()).to_numpy()

In [613]:
# let's see how that affected the percentage of missing values for each column
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.080313,0.08192,0.098378,0.420838,0.4197,0.428107,0.291444,0.297211,0.319558,0.293077,0.085047,0.0,0.01605,0.037295,0.048247,0.042654,0.037712,0.343816,0.032414,0.016242,0.241842,0.252517,0.509975,0.117695,0.005289,0.027116

In [614]:
print("Percentage of countries that only have NaN-values for a given column")
(df.groupby("location").apply(lambda x: x.isna().all()).sum(axis = 0) / len(df["location"].unique())).to_frame().T

Percentage of countries that only have NaN-values for a given column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.015957,0.015957,0.026596,0.31383,0.303191,0.303191,0.0,0.0,0.0,0.0,0.074468,0.0,0.015957,0.037234,0.047872,0.042553,0.037234,0.345745,0.031915,0.015957,0.244681,0.255319,0.505319,0.12234,0.005319,0.026596

In [615]:
# it might be fine to use the average value of the continent for a country for a specific column if it's completly missing 
# (this only applies to some columns (columns that describe local factors and that we won't expect to change much over the time interval))
# however we should probably first look at the standard deviation and compare it with the mean and if the std is too big, we can't do it for that column
cols_to_consider = [
    "location", "population_density", "median_age", "aged_65_older", "aged_70_older", "extreme_poverty", 
    "cardiovasc_death_rate", "diabetes_prevalence", "female_smokers", "male_smokers", "handwashing_facilities",
    "hospital_beds_per_thousand", "life_expectancy", "human_development_index"
]
# get the continent for each country
continents = df.groupby("location").apply(lambda x: x.iloc[0]["continent"])
# get the mean value for the considered columns for each country
temp = df[cols_to_consider].groupby("location").mean()
# add continent as column
temp["continent"] = continents
# now get the relative size of std to mean for each continent and then average that out for all continents
means = temp.groupby("continent").mean()
means_all = (temp.groupby("continent").std() / temp.groupby("continent").mean()).mean()
print("Relative magnitude of std compared to mean (= 1 -> mean and std are the same)")
means_all.to_frame().T

Relative magnitude of std compared to mean (= 1 -> mean and std are the same)

,population_density,median_age,aged_65_older,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,1.89741,0.181294,0.468467,0.510914,1.134216,0.418043,0.399842,0.797155,0.422045,0.341071,0.626664,0.06479,0.136037

In [616]:
# for some columns the std is quite big compared to the mean value, for these columns it's probably not a good idea to just use the mean (this would temper too much with our data)
# now we just need to define a threshhold at which we want to use the mean of the continent for missing values
threshhold = 0.5
cols_to_use_mean = means_all <= threshhold
cols_to_use_mean = cols_to_use_mean[cols_to_use_mean].index
print("Columns to use average value of the continent for missing values with threshhold = {}:".format(threshhold))
cols_to_use_mean.to_list()

Columns to use average value of the continent for missing values with threshhold = 0.5:

['median_age',
 'aged_65_older',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'male_smokers',
 'handwashing_facilities',
 'life_expectancy',
 'human_development_index']

In [617]:
print("Mean values that will be used for NaN cells")
means[cols_to_use_mean]

Mean values that will be used for NaN cells

,median_age,aged_65_older,cardiovasc_death_rate,diabetes_prevalence,male_smokers,handwashing_facilities,life_expectancy,human_development_index
continent,,,,,,,,
Africa,21.111321,3.670453,286.848132,5.621509,27.882857,25.155273,64.072264,0.562692
Asia,30.470213,6.584711,290.287261,9.329111,39.697368,71.172920,74.596809,0.739891
Europe,42.070000,17.719625,230.159415,6.558409,35.592500,93.954000,79.824545,0.879881
North America,31.661905,8.828762,200.113045,10.733043,22.308333,77.541308,75.411739,0.755957
Oceania,27.012500,7.282500,375.077000,13.482500,35.542857,30.549500,72.853750,0.711750
South America,30.216667,8.277250,187.323917,7.810833,24.662500,65.990667,75.090833,0.763167

In [618]:
for col in cols_to_use_mean:
    # get all rows that are NaN for this column
    nan_indices = df[col].isna()
    # set it to the mean value of the continent of that country for that column
    df.loc[nan_indices, col] = means.loc[df[nan_indices]["continent"], col].to_numpy()

In [619]:
# let's look at the missing values for each column again
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.080313,0.08192,0.098378,0.420838,0.4197,0.428107,0.291444,0.297211,0.319558,0.293077,0.085047,0.0,0.01605,0.0,0.0,0.042654,0.037712,0.343816,0.0,0.0,0.241842,0.0,0.0,0.117695,0.0,0.0

In [620]:
# except a few columns it's looking decent now, not sure what to do further with this dataset