In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", None)
plt.rcParams["figure.figsize"] = (24, 12)

In [104]:
# get currently available data
df = pd.read_csv(
    "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv",
    parse_dates=["date"],
)
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,new_tests,total_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,0.126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.33,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [105]:
# select attributes that we find interesting
attributes = [
    "iso_code",
    "continent",
    "location",
    "date",
    "total_cases",
    "new_cases",
    "total_deaths",
    "new_deaths",
    "reproduction_rate",
    "icu_patients",
    "hosp_patients",
    "weekly_icu_admissions",
    "weekly_hosp_admissions",
    "new_tests",
    "total_tests",
    "positive_rate",
    "total_vaccinations",
    "people_vaccinated",
    "people_fully_vaccinated",
    "new_vaccinations",
    "stringency_index",
    "population",
    "population_density",
    "median_age",
    "aged_65_older",
    "aged_70_older",
    "gdp_per_capita",
    "extreme_poverty",
    "cardiovasc_death_rate",
    "diabetes_prevalence",
    "female_smokers",
    "male_smokers",
    "handwashing_facilities",
    "hospital_beds_per_thousand",
    "life_expectancy",
    "human_development_index",
    "excess_mortality",
]

df = df[attributes]

In [106]:
# now check which columns contain NaN values
df.isna().any().to_frame().T

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,hosp_patients,weekly_icu_admissions,weekly_hosp_admissions,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,False,True,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [107]:
# it's weird that continent contains NaNs and location doesn't, so let's take a look at that
print("First 5 rows that have NaN for the column continent")
df[df["continent"].isna()].head()

First 5 rows that have NaN for the column continent

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,hosp_patients,weekly_icu_admissions,weekly_hosp_admissions,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
629,OWID_AFR,NaN,Africa,2020-02-13,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,OWID_AFR,NaN,Africa,2020-02-14,1.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,OWID_AFR,NaN,Africa,2020-02-15,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,OWID_AFR,NaN,Africa,2020-02-16,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,OWID_AFR,NaN,Africa,2020-02-17,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.373486e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
# let's store these rows which combine data of a continent in a seperate dataframe, so it doesn't give us any weird mistakes later/confuse us
# before we do this we should be sure that really only these combined rows have NaNs
print(
    "Unique locations where continent is NaN",
    df[df["continent"].isna()]["location"].unique(),
)
# looking good, so lets create a new dataframe
continent_df = df[df["continent"].isna()]
# drop these rows from the original dataframe
df = df[~df["continent"].isna()]

Unique locations where continent is NaN ['Africa' 'Asia' 'Europe' 'European Union' 'High income' 'International'
 'Low income' 'Lower middle income' 'North America' 'Oceania'
 'South America' 'Upper middle income' 'World']

In [109]:
# we would expect that new_cases should be almost complete (because it's the most important attribute), so let's take a look at that
print("Percentage of non-missing values for each country in the column new_cases:")
(
    df[["location", "new_cases"]].groupby("location").count()["new_cases"]
    / df[["location", "new_cases"]].groupby("location").size()
).to_frame().T

Percentage of non-missing values for each country in the column new_cases:

location,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bermuda,Bhutan,Bolivia,Bonaire Sint Eustatius and Saba,Bosnia and Herzegovina,Botswana,Brazil,British Virgin Islands,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Cayman Islands,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Cook Islands,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Curacao,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Faeroe Islands,Falkland Islands,Fiji,Finland,France,French Polynesia,Gabon,Gambia,Georgia,Germany,Ghana,Gibraltar,Greece,Greenland,Grenada,Guatemala,Guernsey,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Isle of Man,Israel,Italy,Jamaica,Japan,Jersey,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Macao,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Montserrat,Morocco,Mozambique,Myanmar,Namibia,Nauru,Nepal,Netherlands,New Caledonia,New Zealand,Nicaragua,Niger,Nigeria,Niue,North Macedonia,Northern Cyprus,Norway,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Pitcairn,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Helena,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Sint Maarten (Dutch part),Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Tokelau,Tonga,Trinidad and Tobago,Tunisia,Turkey,Turkmenistan,Turks and Caicos Islands,Tuvalu,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
0,1.0,0.979299,1.0,1.0,1.0,0.0,1.0,0.909224,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.991948,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.998405,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.998489,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.996753,0.988889,1.0,0.961598,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.963077,1.0,1.0,0.0,0.0,0.925076,1.0,0.998485,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.988959,0.0,1.0,0.959119,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.99839,0.99681,1.0,1.0,1.0,1.0,1.0,0.0,0.99842,1.0,1.0,0.998489,0.0,1.0,1.0,0.988673,1.0,1.0,1.0,1.0,1.0,0.985737,1.0,1.0,1.0,0.967742,1.0,1.0,0.992051,0.0,1.0,0.993277,0.998485,1.0,1.0,0.996769,1.0,1.0,1.0,0.915081,1.0,1.0,1.0,1.0,1.0,0.0,0.962848,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.998374,1.0,0.998379,0.904832,1.0,0.0,1.0,0.981073,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.9952,0.985646,1.0,1.0,1.0,0.0,1.0,0.950845,1.0,1.0,0.958204,0.996983,1.0,1.0,1.0,0.996732,1.0,1.0,1.0,1.0,0.989521,1.0,1.0,0.972059,1.0,0.996774,0.0,0.076923,1.0,1.0,0.998369,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.998489,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0

In [110]:
# it seems that there are countries that don't have any values for new_cases or simply not enough values, these are obviously useless to us
# lets drop all countries that have missing values for more than half of their entries for the column new_cases
# (if they have more than half of the values, then we can fix the missing values with interpolation later)
temp = (
    df[["location", "new_cases"]].groupby("location").count()["new_cases"]
    / df[["location", "new_cases"]].groupby("location").size()
) >= 0.5
temp = temp[temp == True].index.tolist()
# drop all rows that don't fulfill the above defined criteria
df = df[df["location"].isin(temp)]
# reset index, so that it is correct again (we dropped rows)
df.reset_index(inplace=True, drop=True)

In [111]:
# also while looking through the records, we found that some countries have leading NaNs for new_cases
# let's remove these (while we're at it, let's also remove trailing NaNs)
df = df.sort_values(by=["location", "date"]).reset_index(drop=True)
# get the first and last valid index
first_valid_index = df.groupby("location").apply(
    lambda x: x["new_cases"].first_valid_index()
)
last_valid_index = df.groupby("location").apply(
    lambda x: x["new_cases"].last_valid_index()
)
# create list of indices that we want to keep
valid_indices = [
    np.arange(first, last + 1)
    for first, last in zip(first_valid_index, last_valid_index)
]
# flatten it to be a 1D array instead of 2D
valid_indices = [elem for sublist in valid_indices for elem in sublist]
df = df[df.index.isin(valid_indices)]
# we removed rows, so we need to reset the index
df.reset_index(drop=True, inplace=True)

In [112]:
# let's look at what percentage of values is still NaN for each column
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,icu_patients,hosp_patients,weekly_icu_admissions,weekly_hosp_admissions,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,0.0,0.0,0.0,0.0,0.0,0.000026,0.092977,0.093002,0.110699,0.864051,0.84066,0.988765,0.982082,0.527811,0.525237,0.462113,0.761331,0.773402,0.796768,0.801899,0.096744,0.0,0.021047,0.045904,0.056671,0.051173,0.042341,0.352386,0.037849,0.021235,0.248813,0.259307,0.514999,0.123511,0.0052,0.031924,0.960932

In [113]:
# for some reason total_cases is complete, but new_cases isn't so let's fix that real quick
miss_indices = df[df["new_cases"].isna()].index
df.loc[miss_indices, "new_cases"] = list(
    df.iloc[miss_indices + 1]["total_cases"]
    - np.array(df.iloc[miss_indices]["total_cases"])
)

In [114]:
# also it seems that there are some columns where we simply have too many missing values for them to be useful, let's remove these
cols_to_drop = [
    "icu_patients",
    "hosp_patients",
    "weekly_icu_admissions",
    "weekly_hosp_admissions",
    "excess_mortality",
]
df.drop(columns=cols_to_drop, inplace=True)

In [115]:
# let's try and fill the missing values for the remaining columns
# vaccinations numbers are very interesting to us so let's take a look at it
# for each country get the percentage of values that are not NaN for total_vaccinations
print("Percentage of non-NaN values for each country for the column total_vaccinations")
(
    df.groupby("location").count()["total_vaccinations"] / df.groupby("location").size()
).to_frame().T

Percentage of non-NaN values for each country for the column total_vaccinations

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0.044515,0.331707,0.019108,0.053055,0.066225,0.11784,0.47504,0.040128,0.396657,0.512739,0.351525,0.059211,0.435612,0.305195,0.406919,0.0432,0.491525,0.173045,0.026316,0.152104,0.264274,0.030695,0.080808,0.38437,0.217886,0.487013,0.02443,0.013491,0.409437,0.066343,0.509119,0.061258,0.029557,0.046281,0.514286,0.375189,0.349515,0.0373,0.039409,0.07767,0.323002,0.369427,0.263072,0.203583,0.516854,0.050571,0.482428,0.023102,0.084718,0.35634,0.446228,0.075117,0.224793,0.095238,0.0,0.511182,0.065574,0.296236,0.05124,0.396947,0.484848,0.067213,0.044481,0.232855,0.488584,0.042623,0.481659,0.076412,0.393443,0.176759,0.026711,0.119281,0.069536,0.079935,0.400908,0.224194,0.1744,0.446483,0.419614,0.074132,0.047695,0.508013,0.522152,0.493109,0.119086,0.323752,0.243156,0.324059,0.276596,0.044444,0.193443,0.020668,0.193069,0.116667,0.536977,0.398734,0.02,0.029654,0.065,0.525806,0.516026,0.439103,0.02649,0.279188,0.39909,0.410714,0.046745,0.468395,0.0,0.067213,0.046205,0.4672,0.0,0.256494,0.040064,0.315961,0.390445,0.31672,0.043189,0.030151,0.222951,0.22003,0.364217,0.4256,0.028099,0.02649,0.1264,0.223285,0.550239,0.120827,0.171975,0.0,0.242326,0.395765,0.036424,0.331169,0.44822,0.244648,0.425806,0.419614,0.365385,0.499203,0.361409,0.093443,0.09015,0.196721,0.091803,0.069252,0.158654,0.051107,0.427653,0.159164,0.28479,0.116585,0.042159,0.189107,0.504854,0.520194,0.042714,0.067434,0.295638,0.393343,0.057823,0.338957,0.369863,0.036066,0.301639,0.076687,0.519108,0.023256,0.295008,0.069395,0.009868,0.325265,0.046512,0.030744,0.355738,0.316129,0.49429,0.177446,0.42351,0.433588,0.470138,0.508321,0.425532,0.123153,0.051491,0.0,0.031148,0.332829,0.022298,0.193069,0.407285

In [116]:
# maybe the high number of missing values comes from leading NaNs? let's check that
temp = df.copy()
temp.reset_index(inplace=True)
first_index = temp.groupby("location").apply(lambda x: x.iloc[0]["index"])
first_valid_index = temp.groupby("location").apply(
    lambda x: x["total_vaccinations"].first_valid_index()
)
print("Number of leading NaNs for each country for the column total_vaccinations")
(first_valid_index - first_index).to_frame().T

Number of leading NaNs for each country for the column total_vaccinations

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Eritrea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mauritius,Mexico,Micronesia (country),Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palau,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,364.0,307.0,339.0,329.0,346.0,340.0,301.0,395.0,392.0,306.0,322.0,362.0,303.0,324.0,335.0,304.0,328.0,342.0,422.0,385.0,323.0,343.0,360.0,325.0,389.0,296.0,449.0,567.0,379.0,401.0,323.0,363.0,423.0,448.0,305.0,327.0,348.0,356.0,395.0,293.0,355.0,309.0,445.0,302.0,301.0,403.0,278.0,395.0,326.0,351.0,325.0,345.0,335.0,366.0,NaN,304.0,381.0,391.0,363.0,337.0,338.0,373.0,357.0,382.0,335.0,352.0,306.0,326.0,348.0,383.0,413.0,336.0,483.0,354.0,396.0,299.0,306.0,351.0,316.0,355.0,371.0,303.0,302.0,331.0,363.0,391.0,315.0,324.0,356.0,14.0,379.0,308.0,375.0,358.0,277.0,358.0,300.0,421.0,389.0,292.0,302.0,303.0,418.0,349.0,396.0,331.0,370.0,316.0,NaN,377.0,313.0,300.0,NaN,362.0,305.0,349.0,340.0,332.0,350.0,305.0,369.0,367.0,314.0,356.0,347.0,373.0,370.0,356.0,280.0,308.0,343.0,NaN,390.0,316.0,375.0,351.0,339.0,395.0,299.0,300.0,297.0,305.0,319.0,338.0,334.0,339.0,368.0,167.0,364.0,343.0,310.0,357.0,308.0,300.0,348.0,354.0,304.0,297.0,162.0,397.0,348.0,400.0,365.0,338.0,367.0,361.0,345.0,330.0,300.0,344.0,423.0,371.0,510.0,401.0,388.0,368.0,338.0,373.0,308.0,353.0,358.0,342.0,345.0,325.0,351.0,381.0,203.0,NaN,340.0,409.0,394.0,392.0,335.0

In [117]:
# so it seems that there are a lot of leading NaNs, however for some countries we don't have any vaccination numbers, lets remove these countries
temp = first_valid_index - first_index
print(
    "Number of countries for which we don't have any vaccination numbers: {}".format(
        len(temp[temp.isna()])
    )
)
# also after removing these countries, we need to reset the index (because we dropped some rows)
df = df[~df["location"].isin(temp[temp.isna()].index)].reset_index(drop=True)

Number of countries for which we don't have any vaccination numbers: 5

In [118]:
# let's look at the first value of total_vaccinations for each country that isn't NaN
first_valid_index = df.groupby("location").apply(
    lambda x: x["total_vaccinations"].first_valid_index()
)
temp = df.iloc[list(first_valid_index)][["total_vaccinations", "location"]].set_index(
    "location"
)
# get the countries that have zero as first non-NaN value
countries_with_zero = temp[temp["total_vaccinations"] == 0].index
print("First non-NaN value for each country for the column total_vaccinations")
temp.T

First non-NaN value for each country for the column total_vaccinations

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
total_vaccinations,0.0,0.0,0.0,576.0,0.0,0.0,700.0,565.0,20.0,754.0,0.0,0.0,38965.0,0.0,4490.0,0.0,329.0,0.0,10683.0,0.0,0.0,0.0,0.0,0.0,0.0,1719.0,200.0,81.0,0.0,0.0,5.0,0.0,667.0,5324.0,420.0,1500000.0,18.0,13440.0,14297.0,55.0,0.0,7864.0,2037745.0,3901.0,1281.0,0.0,1.0,10246.0,0.0,0.0,17.0,0.0,0.0,6565.0,191.0,0.0,430000.0,0.0,1767.0,441.0,0.0,0.0,0.0,24355.0,0.0,447.0,0.0,0.0,62645.0,5889.0,0.0,38.0,2684.0,47.0,1094.0,4875.0,0.0,0.0,0.0,0.0,97.0,65.0,7337.0,0.0,125.0,0.0,0.0,0.0,0.0,0.0,2500.0,0.0,40732.0,1.0,0.0,0.0,36404.0,750.0,0.0,2417.0,452.0,609.0,5417.0,63.0,880.0,0.0,11705.0,0.0,0.0,2924.0,3849.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3836.0,1.0,0.0,0.0,0.0,0.0,0.0,1717.0,0.0,81942.0,641.0,0.0,200.0,5.0,0.0,2000.0,4963.0,0.0,965.0,28500.0,0.0,0.0,0.0,8952.0,7411.0,35.0,0.0,137862.0,0.0,7000.0,0.0,0.0,3400.0,480.0,6196.0,0.0,117567.0,0.0,31024.0,0.0,82834.0,0.0,0.0,0.0,2471.0,1.0,0.0,0.0,69229.0,105745.0,0.0,2629.0,0.0,0.0,0.0,0.0,0.0,159.0,826301.0,2677971.0,20880.0,372.0,0.0,0.0,0.0,0.0,18555.0,0.0,39.0

In [119]:
# so unfortunately these aren't always zero, however just interpolating these leading NaNs would temper too much with the given data
# let's just set the ones to zero where the first non-NaN value is zero
df.reset_index(inplace=True)
temp = df[df["location"].isin(countries_with_zero)].groupby("location")
first_index = temp.apply(lambda x: x.iloc[0]["index"])
first_valid_index = temp.apply(lambda x: x["total_vaccinations"].first_valid_index())
df.drop(columns=["index"], inplace=True)
# create list of indices that we want to change
zero_indices = [
    np.arange(first, last - 1) for first, last in zip(first_index, first_valid_index)
]
# flatten it to be a 1D array instead of 2D
zero_indices = [elem for sublist in zero_indices for elem in sublist]
# also set the people_vaccinated, people_fully_vaccinated, new_vaccinations to 0 for these rows
df.loc[
    zero_indices,
    [
        "total_vaccinations",
        "people_vaccinated",
        "people_fully_vaccinated",
        "new_vaccinations",
    ],
] = 0

In [120]:
# let's look at the percentage of missing values for columns again
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.080208,0.080234,0.099848,0.519688,0.517069,0.452859,0.478196,0.490475,0.514242,0.519462,0.086408,0.0,0.01605,0.037295,0.048246,0.042653,0.037711,0.34382,0.032413,0.016241,0.241847,0.252521,0.509967,0.117702,0.005289,0.027115

In [121]:
# it's looking a lot better now, but the ~50% missing values for new_tests/total_tests are really annoying because these are such interesting columns
# lets's check for leading NaNs
temp = df.copy()
temp.reset_index(inplace=True)
# get the first index for each country
first_index = temp.groupby("location").apply(lambda x: x.iloc[0]["index"])
# get the first valid index for each country for the column total_tests
first_valid_index = temp.groupby("location").apply(
    lambda x: x["total_tests"].first_valid_index()
)
print("Number of leading NaNs for each country for the column total_tests")
(first_valid_index - first_index).to_frame().T

Number of leading NaNs for each country for the column total_tests

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,NaN,0.0,NaN,245.0,NaN,487.0,0.0,8.0,56.0,36.0,423.0,554.0,10.0,0.0,NaN,4.0,26.0,422.0,429.0,17.0,3.0,27.0,4.0,60.0,NaN,34.0,NaN,NaN,478.0,NaN,5.0,NaN,NaN,NaN,31.0,153.0,88.0,NaN,NaN,0.0,33.0,7.0,10.0,18.0,NaN,NaN,0.0,NaN,NaN,17.0,17.0,NaN,17.0,484.0,0.0,NaN,0.0,0.0,29.0,NaN,486.0,495.0,401.0,48.0,3.0,6.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,8.0,2.0,0.0,43.0,14.0,46.0,43.0,18.0,0.0,24.0,13.0,13.0,59.0,0.0,4.0,NaN,438.0,79.0,NaN,421.0,0.0,441.0,NaN,NaN,NaN,80.0,20.0,0.0,39.0,0.0,0.0,8.0,NaN,135.0,18.0,NaN,0.0,435.0,NaN,246.0,NaN,0.0,6.0,8.0,18.0,3.0,17.0,2.0,NaN,NaN,40.0,33.0,35.0,NaN,15.0,NaN,0.0,338.0,2.0,0.0,64.0,55.0,0.0,12.0,15.0,33.0,24.0,474.0,NaN,565.0,NaN,NaN,NaN,0.0,1.0,0.0,NaN,NaN,75.0,0.0,0.0,NaN,NaN,1.0,1.0,144.0,72.0,22.0,NaN,NaN,NaN,88.0,NaN,0.0,NaN,NaN,0.0,478.0,1.0,52.0,393.0,16.0,11.0,37.0,0.0,60.0,38.0,15.0,NaN,NaN,NaN,21.0,NaN,1.0,47.0

In [122]:
# let's check what the first value looks like that isn't NaN
df.reset_index(drop=True, inplace=True)
first_valid_index = df.groupby("location").apply(
    lambda x: x["total_tests"].first_valid_index()
)
first_valid_index = first_valid_index.dropna()
temp = df.iloc[list(first_valid_index)][["total_tests", "location"]].set_index(
    "location"
)
print("First non-NaN value for each country for the column total_tests")
temp.T

First non-NaN value for each country for the column total_tests

location,Albania,Andorra,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Bulgaria,Cambodia,Canada,Chile,China,Colombia,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Denmark,Dominican Republic,Ecuador,El Salvador,Equatorial Guinea,Estonia,Ethiopia,Fiji,Finland,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Guatemala,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kosovo,Kuwait,Laos,Latvia,Lebanon,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Malta,Mauritania,Mexico,Moldova,Mongolia,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nigeria,North Macedonia,Norway,Pakistan,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Vincent and the Grenadines,Saudi Arabia,Senegal,Serbia,Singapore,Slovakia,Slovenia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Switzerland,Taiwan,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Vietnam,Zambia,Zimbabwe
total_tests,77.0,85772.0,16700.0,654.0,211.0,143056.0,16834.0,3206917.0,142910.0,5334.0,137.0,5000.0,82.0,123837.0,640586.0,489.0,26.0,3458.0,820.0,179698.0,18502.0,1084676.0,0.0,3290.0,90000000.0,343518.0,2.0,3658.0,247.0,518.0,5917.0,158.0,88.0,480.0,405.0,163221.0,23.0,1.0,79.0,9.0,873543.0,86336.0,3443000.0,129291.0,143.0,570.0,64.0,3610.0,39.0,36.0,6500.0,1230.0,189790.0,26331.0,6457.0,57.0,4324.0,148.0,4.0,78885.0,126.0,111.0,599859.0,227000.0,225787.0,163.0,4069394.0,15.0,114.0,17.0,3065.0,88.0,7.0,221.0,113820.0,63.0,10404.0,1057234.0,95082.0,29.0,205.0,1183.0,306.0,3.0,17080.0,225.0,5000.0,3126.0,3934.0,471.0,138.0,49011.0,9.0,287.0,20276.0,281787.0,70.0,5309.0,1921.0,46414.0,6507.0,22930.0,77176.0,160.0,3.0,67.0,72680.0,378.0,467.0,200.0,25.0,19433.0,930230.0,1.0,2512.0,134.0,218.0,143086.0,5.0,1733.0,1109826.0,7533.0,1510.0,20608.0,75.0,176912.0,348.0,2926.0,856.0,33.0,7808.0

In [123]:
# unfortunately it's not zero for basically all of them, so we can't really do much here
# maybe looking at the percentage of missing values will help us somehow
print("Percentage of non-NaN values for each country for the column total_tests")
(
    df.groupby("location").count()["total_tests"] / df.groupby("location").size()
).to_frame().T

Percentage of non-NaN values for each country for the column total_tests

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0.0,0.744715,0.0,0.07717,0.0,0.001637,0.983897,0.651685,0.648936,0.933121,0.253612,0.026316,0.841017,0.991883,0.0,0.3376,0.953775,0.058236,0.001645,0.773463,0.941272,0.725363,0.30303,0.555024,0.0,0.722403,0.0,0.0,0.076104,0.0,0.951368,0.0,0.0,0.0,0.947619,0.003026,0.852751,0.0,0.0,0.988673,0.902121,0.86465,0.767974,0.967427,0.0,0.0,0.995208,0.0,0.0,0.674157,0.930979,0.0,0.621488,0.065681,0.996805,0.0,0.914894,0.733884,0.951145,0.0,0.059016,0.085667,0.125997,0.13242,0.785246,0.899522,0.0,0.995082,0.0,0.0,0.0,0.0,0.0,0.037821,0.920968,0.9968,0.906728,0.737942,0.572555,0.790143,0.969551,0.998418,0.958652,0.66721,0.972769,0.439614,0.731588,0.361702,0.0,0.155738,0.864865,0.0,0.115,0.998392,0.041139,0.0,0.0,0.0,0.866129,0.964744,0.991987,0.437086,0.433164,0.995448,0.951299,0.0,0.779579,0.204918,0.0,0.9952,0.086039,0.0,0.456026,0.0,0.967846,0.913621,0.812395,0.877049,0.939302,0.138978,0.8512,0.0,0.0,0.4096,0.69059,0.937799,0.0,0.898089,0.0,0.977199,0.011589,0.99026,0.967638,0.894495,0.898387,0.995177,0.942308,0.60925,0.774885,0.77541,0.118531,0.0,0.013115,0.0,0.0,0.0,0.996785,0.993569,0.996764,0.0,0.0,0.124054,0.995146,0.996769,0.0,0.0,0.970921,0.869894,0.239796,0.125767,0.954338,0.0,0.0,0.0,0.856688,0.0,0.996974,0.0,0.0,0.98941,0.039867,0.985437,0.82623,0.214516,0.970636,0.757877,0.774557,0.951145,0.903522,0.934947,0.744681,0.0,0.0,0.0,0.295008,0.0,0.952145,0.912252

In [124]:
# not really sure what to do with these
# we'll do some interpolation later for these (between first and last valid value for each country) and see to what extent that fixes it
# let's look at other columns that have a high percentage of missing values
print("Percentage of non-NaN values for each country for the column positive_rate")
(
    df.groupby("location").count()["positive_rate"] / df.groupby("location").size()
).to_frame().T

Percentage of non-NaN values for each country for the column positive_rate

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0.0,0.743089,0.0,0.498392,0.0,0.0,0.983897,0.972713,0.901216,0.452229,0.306581,0.070724,0.969793,0.988636,0.0,0.9792,0.94453,0.27787,0.0,0.786408,0.978793,0.941842,0.956229,0.0,0.0,0.930195,0.0,0.0,0.073059,0.0,0.977204,0.266556,0.0,0.0,0.936508,0.0,0.841424,0.0,0.0,0.978964,0.929853,0.974522,0.756536,0.956026,0.691814,0.618271,0.98722,0.0,0.0,0.932584,0.674157,0.0,0.621488,0.190476,0.988818,0.0,0.914894,0.808264,0.940458,0.815152,0.188525,0.164745,0.326954,0.13242,0.960656,0.976077,0.0,0.986885,0.0,0.0,0.0,0.0,0.0,0.036309,0.982258,0.0,0.920489,0.889068,0.913249,0.914149,0.956731,0.987342,0.949464,0.96248,0.966717,0.523349,0.729951,0.602291,0.0,0.263934,0.858506,0.0,0.19,0.988746,0.0,0.0,0.0,0.276667,0.866129,0.955128,0.975962,0.804636,0.671743,0.986343,0.970779,0.0,0.766613,0.0,0.0,0.9952,0.279221,0.0,0.498371,0.0,0.987138,0.966777,0.822446,0.952459,0.981791,0.138978,0.9824,0.0,0.0,0.9152,0.854864,0.92823,0.081081,0.961783,0.610662,0.985342,0.082781,0.98539,0.967638,0.883792,0.896774,0.985531,0.0,0.961722,0.935681,0.945902,0.193656,0.0,0.055738,0.0,0.0,0.0,0.985531,0.988746,0.988673,0.0,0.0,0.868381,0.985437,0.996769,0.0,0.0,0.987076,0.969743,0.452381,0.854294,0.949772,0.0,0.0,0.731595,0.856688,0.0,0.98941,0.0,0.0,0.981846,0.154485,0.987055,0.840984,0.351613,0.959217,0.825871,0.925926,0.98626,0.892802,0.924357,0.92635,0.0,0.0,0.0,0.537065,0.0,0.983498,0.905629

In [125]:
# this looks similar to total_tests (either countries have a high number of non-NaN values (> 80%) or a low number (< 20%))
# also not sure what to do with these (we'll also interpolate it later)
# let's take a look at another column with a high percentage of NaN-values
print("Percentage of non-NaN values for each country for the column extreme_poverty")
(
    df.groupby("location").count()["extreme_poverty"] / df.groupby("location").size()
).to_frame().T

Percentage of non-NaN values for each country for the column extreme_poverty

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0

In [126]:
# ok this is even more extreme now it's either 100% or 0% now, we can't really do anything here
# let's take a look at another column with a high percentage of NaN-values
print(
    "Percentage of non-NaN values for each country for the column handwashing_facilities"
)
(
    df.groupby("location").count()["handwashing_facilities"]
    / df.groupby("location").size()
).to_frame().T

Percentage of non-NaN values for each country for the column handwashing_facilities

location,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czechia,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Equatorial Guinea,Estonia,Eswatini,Ethiopia,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Madagascar,Malawi,Malaysia,Maldives,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,North Macedonia,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Qatar,Romania,Russia,Rwanda,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Samoa,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovakia,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor,Togo,Trinidad and Tobago,Tunisia,Turkey,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0

In [127]:
# we can't really do anything here as well..
# so let's do some interpolation (we'll only interpolate between the first valid value and the last, because it would probably temper too much with the data)
# first we'll look at the percentage of missing values for each column again
print("Percentage of missing values for each column")
cols = df.columns
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.080208,0.080234,0.099848,0.519688,0.517069,0.452859,0.478196,0.490475,0.514242,0.519462,0.086408,0.0,0.01605,0.037295,0.048246,0.042653,0.037711,0.34382,0.032413,0.016241,0.241847,0.252521,0.509967,0.117702,0.005289,0.027115

In [128]:
# since we're only gonna interpolate between the first and last valid value for each country, we can basically put each column in here and see to what extent it fixes something
# we'll only interpolate the total_columns and add the missing values later for the new_columns
cols_to_interpolate = [
    "total_deaths",
    "reproduction_rate",
    "total_tests",
    "positive_rate",
    "total_vaccinations",
    "people_vaccinated",
    "people_fully_vaccinated",
    "stringency_index",
    "population_density",
    "median_age",
    "aged_65_older",
    "aged_70_older",
    "gdp_per_capita",
    "extreme_poverty",
    "cardiovasc_death_rate",
    "diabetes_prevalence",
    "female_smokers",
    "male_smokers",
    "handwashing_facilities",
    "hospital_beds_per_thousand",
    "life_expectancy",
    "human_development_index",
]
df = df.groupby("location").apply(
    lambda x: x[df.columns.difference(cols_to_interpolate)].join(
        x[cols_to_interpolate].interpolate(method="linear", axis=0, limit_area="inside")
    )
)[cols]
# let's change new_deaths, new_tests and new_vaccinations accordingly now
df[["new_deaths", "new_tests", "new_vaccinations"]] = (
    df.groupby("location")
    .apply(lambda x: x[["total_deaths", "total_tests", "total_vaccinations"]].diff())
    .to_numpy()
)

In [129]:
# let's see how that affected the percentage of missing values for each column
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.080208,0.081812,0.099848,0.421782,0.420646,0.42904,0.292096,0.297906,0.320173,0.293726,0.085688,0.0,0.01605,0.037295,0.048246,0.042653,0.037711,0.34382,0.032413,0.016241,0.241847,0.252521,0.509967,0.117702,0.005289,0.027115

In [130]:
print("Percentage of countries that only have NaN-values for a given column")
(
    df.groupby("location").apply(lambda x: x.isna().all()).sum(axis=0)
    / len(df["location"].unique())
).to_frame().T

Percentage of countries that only have NaN-values for a given column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.015957,0.015957,0.026596,0.31383,0.303191,0.303191,0.0,0.0,0.0,0.0,0.074468,0.0,0.015957,0.037234,0.047872,0.042553,0.037234,0.345745,0.031915,0.015957,0.244681,0.255319,0.505319,0.12234,0.005319,0.026596

In [131]:
# it might be fine to use the average value of the continent for a country for a specific column if it's completly missing
# (this only applies to some columns (columns that describe local factors and that we won't expect to change much over the time interval))
# however we should probably first look at the standard deviation and compare it with the mean and if the std is too big, we can't do it for that column
cols_to_consider = [
    "location",
    "population_density",
    "median_age",
    "aged_65_older",
    "aged_70_older",
    "extreme_poverty",
    "cardiovasc_death_rate",
    "diabetes_prevalence",
    "female_smokers",
    "male_smokers",
    "handwashing_facilities",
    "hospital_beds_per_thousand",
    "life_expectancy",
    "human_development_index",
]
# get the continent for each country
continents = df.groupby("location").apply(lambda x: x.iloc[0]["continent"])
# get the mean value for the considered columns for each country
temp = df[cols_to_consider].groupby("location").mean()
# add continent as column
temp["continent"] = continents
# now get the relative size of std to mean for each continent and then average that out for all continents
means = temp.groupby("continent").mean()
means_all = (temp.groupby("continent").std() / temp.groupby("continent").mean()).mean()
print("Relative magnitude of std compared to mean (= 1 -> mean and std are the same)")
means_all.to_frame().T

Relative magnitude of std compared to mean (= 1 -> mean and std are the same)

,population_density,median_age,aged_65_older,aged_70_older,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,1.89741,0.181294,0.468467,0.510914,1.134216,0.418043,0.399842,0.797155,0.422045,0.341071,0.626664,0.06479,0.136037

In [132]:
# for some columns the std is quite big compared to the mean value, for these columns it's probably not a good idea to just use the mean (this would temper too much with our data)
# now we just need to define a threshhold at which we want to use the mean of the continent for missing values
threshhold = 0.5
cols_to_use_mean = means_all <= threshhold
cols_to_use_mean = cols_to_use_mean[cols_to_use_mean].index
print(
    "Columns to use average value of the continent for missing values with threshhold = {}:".format(
        threshhold
    )
)
cols_to_use_mean.to_list()

Columns to use average value of the continent for missing values with threshhold = 0.5:

['median_age',
 'aged_65_older',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'male_smokers',
 'handwashing_facilities',
 'life_expectancy',
 'human_development_index']

In [133]:
print("Mean values that will be used for NaN cells")
means[cols_to_use_mean]

Mean values that will be used for NaN cells

,median_age,aged_65_older,cardiovasc_death_rate,diabetes_prevalence,male_smokers,handwashing_facilities,life_expectancy,human_development_index
continent,,,,,,,,
Africa,21.111321,3.670453,286.848132,5.621509,27.882857,25.155273,64.072264,0.562692
Asia,30.470213,6.584711,290.287261,9.329111,39.697368,71.172920,74.596809,0.739891
Europe,42.070000,17.719625,230.159415,6.558409,35.592500,93.954000,79.824545,0.879881
North America,31.661905,8.828762,200.113045,10.733043,22.308333,77.541308,75.411739,0.755957
Oceania,27.012500,7.282500,375.077000,13.482500,35.542857,30.549500,72.853750,0.711750
South America,30.216667,8.277250,187.323917,7.810833,24.662500,65.990667,75.090833,0.763167

In [134]:
for col in cols_to_use_mean:
    # get all rows that are NaN for this column
    nan_indices = df[col].isna()
    # set it to the mean value of the continent of that country for that column
    df.loc[nan_indices, col] = means.loc[df[nan_indices]["continent"], col].to_numpy()

In [135]:
# let's look at the missing values for each column again
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,stringency_index,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,0.0,0.0,0.0,0.0,0.0,0.0,0.080208,0.081812,0.099848,0.421782,0.420646,0.42904,0.292096,0.297906,0.320173,0.293726,0.085688,0.0,0.01605,0.0,0.0,0.042653,0.037711,0.34382,0.0,0.0,0.241847,0.0,0.0,0.117702,0.0,0.0

In [136]:
# except a few columns it's looking decent now, not sure what to do further with this dataset

# Other Dataset: Information about policies of countries [from Oxford University](https://github.com/OxCGRT/covid-policy-tracker)

### [Description of columns](https://github.com/OxCGRT/covid-policy-tracker/tree/master/documentation)

In [137]:
df_additional = pd.read_csv(
    "https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/OxCGRT_latest.csv",
    parse_dates=["Date"],
)
df_additional.head()

/home/marc/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CountryName,CountryCode,RegionName,RegionCode,Jurisdiction,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,M1_Wildcard,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-01,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-02,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-03,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-04,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aruba,ABW,NaN,NaN,NAT_TOTAL,2020-01-05,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [138]:
# since our other dataset only has national-wide data, we'll only use it here as well
df_additional = df_additional[df_additional["Jurisdiction"] == "NAT_TOTAL"]
# drop columns that were used for regional description
df_additional.drop(columns=["RegionName", "RegionCode", "Jurisdiction"], inplace=True)

In [139]:
print("Percentage of missing values for each column")
(df_additional.isna().sum() / len(df_additional)).to_frame().T

Percentage of missing values for each column

,CountryName,CountryCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,M1_Wildcard,ConfirmedCases,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,0.0,0.0,0.0,0.020028,0.241291,0.020523,0.269147,0.020295,0.219495,0.020578,0.236944,0.020727,0.58096,0.020444,0.40207,0.020908,0.525663,0.020452,0.021458,0.43256,0.022771,0.16456,0.163916,0.02112,0.095399,0.021883,0.024091,0.164898,0.047884,0.019815,0.233619,0.019627,0.622603,0.023808,0.367949,1.0,0.038821,0.038821,0.020578,0.011995,0.020421,0.011837,0.024429,0.015673,0.022669,0.013983,0.02369,0.015162

In [140]:
# M1_Wildcard only has missing values, lets drop that really quick
df_additional.drop(columns=["M1_Wildcard"], inplace=True)
# we can also drop ConfirmedCases since that's complete in out other datset anyway
# we might be able to use ConfirmedDeaths though, because there were missing values for that in our other dataset
df_additional.drop(columns=["ConfirmedCases"], inplace=True)

In [141]:
# except for the flag attributes this looks very good, for most of them only 2% missing values
# E3, E4, H4 is said to not be updated anymore since August 2021 on the github repo, so that's where the relatively high number of missing values comes from
# let's check if the missing values come from the same countries
print("Number of missing values for each country for all columns")
df_additional.groupby("CountryName").apply(lambda x: x.isna().sum().sum()).to_frame().T

Number of missing values for each country for all columns

CountryName,Afghanistan,Albania,Algeria,Andorra,Angola,Argentina,Aruba,Australia,Austria,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bermuda,Bhutan,Bolivia,Bosnia and Herzegovina,Botswana,Brazil,Brunei,Bulgaria,Burkina Faso,Burundi,Cambodia,Cameroon,Canada,Cape Verde,Central African Republic,Chad,Chile,China,Colombia,Comoros,Congo,Costa Rica,Cote d'Ivoire,Croatia,Cuba,Cyprus,Czech Republic,Democratic Republic of Congo,Denmark,Djibouti,Dominica,Dominican Republic,Ecuador,Egypt,El Salvador,Eritrea,Estonia,Eswatini,Ethiopia,Faeroe Islands,Fiji,Finland,France,Gabon,Gambia,Georgia,Germany,Ghana,Greece,Greenland,Guam,Guatemala,Guinea,Guyana,Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Indonesia,Iran,Iraq,Ireland,Israel,Italy,Jamaica,Japan,Jordan,Kazakhstan,Kenya,Kiribati,Kosovo,Kuwait,Kyrgyz Republic,Laos,Latvia,Lebanon,Lesotho,Liberia,Libya,Liechtenstein,Lithuania,Luxembourg,Macao,Madagascar,Malawi,Malaysia,Mali,Malta,Mauritania,Mauritius,Mexico,Moldova,Monaco,Mongolia,Morocco,Mozambique,Myanmar,Namibia,Nepal,Netherlands,New Zealand,Nicaragua,Niger,Nigeria,Norway,Oman,Pakistan,Palestine,Panama,Papua New Guinea,Paraguay,Peru,Philippines,Poland,Portugal,Puerto Rico,Qatar,Romania,Russia,Rwanda,San Marino,Saudi Arabia,Senegal,Serbia,Seychelles,Sierra Leone,Singapore,Slovak Republic,Slovenia,Solomon Islands,Somalia,South Africa,South Korea,South Sudan,Spain,Sri Lanka,Sudan,Suriname,Sweden,Switzerland,Syria,Taiwan,Tajikistan,Tanzania,Thailand,Timor-Leste,Togo,Tonga,Trinidad and Tobago,Tunisia,Turkey,Turkmenistan,Uganda,Ukraine,United Arab Emirates,United Kingdom,United States,United States Virgin Islands,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,5361,2434,2900,2894,3166,2241,4543,2480,2527,2445,2874,2715,3163,2646,5414,2948,3201,4751,2995,2065,3921,3343,3398,2249,3713,4273,6860,6808,3989,4923,2169,2951,6060,5145,1857,1396,2290,27979,3664,3058,4961,3090,3104,2322,3500,5116,3058,4694,5051,2315,2065,3210,3401,3406,4038,3094,3272,4703,2616,3257,2561,2463,4494,3267,2368,5255,1813,3911,3001,2939,3343,3086,4426,2204,2034,3502,3693,2272,1869,2065,2705,2329,2833,1735,2790,2512,2968,2729,3078,7382,2879,2947,3243,4187,3897,2737,4037,3418,3880,5576,3450,2926,5098,3450,4460,2498,4234,5714,4390,4095,2542,3005,3567,2943,2932,3363,2181,3795,2790,2450,4952,7397,6220,3236,3085,3096,2902,3180,2259,3758,3060,1971,2217,2416,2570,3127,2340,2936,3359,2758,4009,3554,5090,3326,3898,4026,2763,3085,3132,6596,5086,2418,2564,3932,2548,3620,5367,3540,2968,3106,4510,4864,5612,6997,2141,4012,4515,5497,3195,3366,2965,5399,3144,2240,3540,1983,2111,5577,2772,3052,7132,2603,2653,5295,5400,3255

In [142]:
# ok so it's well spread between countries
# honestly this data set just looks really good, not really sure what to do
# since the C, E, H columns are all qualitive with very few options and the Index columns result from them, I don't think it makes sense to do interpolation on these
# let's try interpolating missing values in ConfirmedDeaths (only between first and last valid index)
# first sort the df it by Country and then Date
print(
    "Percentage of missing values in ConfirmedDeaths before interpolation: {:.2f}%".format(
        (df_additional.isna().sum() / len(df_additional))
        .to_frame()
        .T["ConfirmedDeaths"]
        .iloc[0]
        * 100
    )
)
cols = df_additional.columns
df_additional = df_additional.sort_values(by=["CountryName", "Date"]).reset_index(
    drop=True
)
cols_to_interpolate = ["ConfirmedDeaths"]
df_additional = df_additional.groupby("CountryName").apply(
    lambda x: x[df_additional.columns.difference(cols_to_interpolate)].join(
        x[cols_to_interpolate].interpolate(method="linear", axis=0, limit_area="inside")
    )
)[cols]
print(
    "Percentage of missing values in ConfirmedDeaths after interpolation: {:.2f}%".format(
        (df_additional.isna().sum() / len(df_additional))
        .to_frame()
        .T["ConfirmedDeaths"]
        .iloc[0]
        * 100
    )
)

Percentage of missing values in ConfirmedDeaths before interpolation: 3.88%
Percentage of missing values in ConfirmedDeaths after interpolation: 3.88%

In [143]:
# ok that didn't do anything, but it was worth a try
# seems like it's time to merge this dataset with the other one
# first let's check how many countries from the our dataset are present in the additional one
temp = [
    elem in df_additional["CountryName"].unique() for elem in df["location"].unique()
]
print(
    "Percentage of countries of our dataset that are also present in the additional one: {:.2f}%".format(
        sum(temp) / len(temp) * 100
    )
)

Percentage of countries of our dataset that are also present in the additional one: 90.96%

In [144]:
# that seems high enough, so we can actually use this dataset
# let's rename columns from the old dataset for merging
df_additional.rename(columns={"CountryName": "location", "Date": "date"}, inplace=True)
# we can drop redundant columns (we drop new_deaths/total_deaths, because the other dataset is more complete on these)
df.drop(
    columns=["stringency_index", "iso_code", "new_deaths", "total_deaths"], inplace=True
)
df = df.merge(df_additional, on=["location", "date"])
# we have to recalculate new_deaths
temp = (
    df.groupby("location")
    .apply(
        lambda x: np.append(
            x["ConfirmedDeaths"].iloc[1:2].to_numpy(),
            x["ConfirmedDeaths"].diff().to_numpy()[1:],
            axis=0,
        )
    )
    .to_numpy()
)
temp = [elem for sublist in temp for elem in sublist]
df["new_deaths"] = temp
df.head()

,continent,location,date,total_cases,new_cases,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,CountryCode,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay,new_deaths
0,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,39.697368,37.746,0.5,64.83,0.511,AFG,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,3.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,8.33,8.33,10.71,10.71,9.9,9.9,11.31,11.31,0.0,0.0,0.0
1,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,39.697368,37.746,0.5,64.83,0.511,AFG,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,3.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,8.33,8.33,10.71,10.71,9.9,9.9,11.31,11.31,0.0,0.0,0.0
2,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,39.697368,37.746,0.5,64.83,0.511,AFG,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,3.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,8.33,8.33,10.71,10.71,9.9,9.9,11.31,11.31,0.0,0.0,0.0
3,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,39.697368,37.746,0.5,64.83,0.511,AFG,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,3.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,8.33,8.33,10.71,10.71,9.9,9.9,11.31,11.31,0.0,0.0,0.0
4,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,39835428.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,39.697368,37.746,0.5,64.83,0.511,AFG,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,3.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,8.33,8.33,10.71,10.71,9.9,9.9,11.31,11.31,0.0,0.0,0.0

In [145]:
# let's check for percentage of missing values for each column, to see if everything worked correctly
print("Percentage of missing values for each column")
(df.isna().sum() / len(df)).to_frame().T

Percentage of missing values for each column

,continent,location,date,total_cases,new_cases,reproduction_rate,new_tests,total_tests,positive_rate,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,population,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,CountryCode,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,C3_Flag,C4_Restrictions on gatherings,C4_Flag,C5_Close public transport,C5_Flag,C6_Stay at home requirements,C6_Flag,C7_Restrictions on internal movement,C7_Flag,C8_International travel controls,E1_Income support,E1_Flag,E2_Debt/contract relief,E3_Fiscal measures,E4_International support,H1_Public information campaigns,H1_Flag,H2_Testing policy,H3_Contact tracing,H4_Emergency investment in healthcare,H5_Investment in vaccines,H6_Facial Coverings,H6_Flag,H7_Vaccination policy,H7_Flag,H8_Protection of elderly people,H8_Flag,ConfirmedDeaths,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay,new_deaths
0,0.0,0.0,0.0,0.0,0.0,0.086423,0.392406,0.391246,0.404011,0.290795,0.297163,0.317521,0.29242,0.0,0.017593,0.0,0.0,0.041059,0.041334,0.327045,0.0,0.0,0.213249,0.0,0.0,0.114033,0.0,0.0,0.0,0.019807,0.16165,0.02032,0.181628,0.020235,0.137414,0.020577,0.153448,0.020719,0.522549,0.020406,0.326341,0.020957,0.465124,0.020415,0.021546,0.372827,0.023238,0.177294,0.176477,0.020815,0.033275,0.021936,0.024645,0.176866,0.048653,0.020339,0.142955,0.020501,0.579832,0.024284,0.299206,0.001625,0.020567,0.01266,0.020387,0.012479,0.02511,0.016994,0.023077,0.015045,0.024236,0.016376,0.001625

In [150]:
# let's add the weekday for each row, this might be interesting to look at
df["weekday"] = df["date"].dt.dayofweek

In [146]:
# looking good!